body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.name {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.information {
}
